<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
       default-autowire="byName">

    <!-- 扫描 -->
    <bean id="rtAspect" class="my.spring.aspect.RtAspect" ></bean>
    <bean id="exceptionAspect" class="my.spring.aspect.ExceptionAspect"></bean>



    <bean id="proxyedBean" class="my.spring.aspect.package1.ProxyedBean"></bean>
    <bean id="proxyedBean2" class="my.spring.aspect.package2.ProxyedBean2"></bean>


    <aop:config>
        <aop:pointcut id="myPointcut" expression="execution(public * my.spring.aspect.package1..*.*(..)) ||  execution(public * my.spring.aspect.package2..*.*(..))"/>
        <aop:aspect ref="rtAspect">
            <aop:around method="raAround" pointcut-ref="myPointcut"/>
        </aop:aspect>
        <aop:aspect ref="exceptionAspect">
            <aop:after-throwing method="doRecoveryActions" throwing="throwable" pointcut-ref="myPointcut"/>
        </aop:aspect>
    </aop:config>

</beans>